# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

AimTraining/.vs/*
AimTraining/Intermediate/*
AimTraining/AimTraining/App/AimTraining(debug).exe
AimTraining/AimTraining/App/AimTraining(debug)_log.html
AimTraining/AimTraining/App/AS_DEBUG/stats.txt